<h2 id="strings">What are Strings?</h2>

The following example shows a string contained within 2 quotation marks:

In [2]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

We can also use single quotation marks:

In [8]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

A string can be a combination of spaces and digits:

In [9]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

A string can also be a combination of special characters :

In [10]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

We can print our string using the print statement:

In [6]:
# Print the string

print("hello!")

hello!

In [11]:
print("Hello Tiago!")

Hello Tiago!

We can bind or assign a string to another variable:

In [7]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [16]:
name = "Michael Jackson"
name

'Michael Jackson'

<hr>

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

 The first index can be accessed as follows:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

In [17]:
# Print the first element in the string

print(name[0])

M

In [20]:
print(name[12])

s

 We can access index 6:

In [18]:
# Print the element on index 6 in the string

print(name[6])

l

In [21]:
print(name[2])

c

Moreover, we can access the 13th index:

In [19]:
# Print the element on the 13th index in the string

print(name[13])

o

In [24]:
print(name[8])

J

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [3]:
# Print the last element in the string
name = "Michael Jackson"
print(name[-1])

n

 The first element can be obtained by  index -15:

In [26]:
# Print the first element in the string

print(name[-15])

M

We can find the number of characters in a string by using <code>len</code>, short for length:

In [27]:
# Find the length of string

len("Michael Jackson")

15

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)
</div>
<hr/>

In [28]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [30]:
name[0:7]

'Michael'

In [36]:
# Take the slice on variable name with only index 8 to index 11

name[0:22]

'Michael Jackson'

<h3 id="stride">Stride</h3>

 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [37]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [44]:
name[::2]

'McalJcsn'

We can also incorporate slicing  with the stride. In this case, we select the first five elements and then use the stride:

In [47]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [49]:
name [0:7:3]

'Mhl'

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [50]:
# Concatenate two strings

statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [54]:
statement = name + " is the best"
statement

'Michael Jackson is the best'

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [55]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [57]:
2 * "Tiago Vianez"

'Tiago VianezTiago Vianez'

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to â€œMichael Jackson is the best".

In [58]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

<hr>

In [59]:
name = "Tiago Vianez"
name = name + " it is wonderful"
name

'Tiago Vianez it is wonderful'

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [63]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [65]:
print("Tiago Vianez \nit is wonderfull")

Tiago Vianez
it is wonderfull

Similarly, back slash  "t" represents a tab:

In [66]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [70]:
print("Tiago Vianez \\t is the best")

Tiago Vianez \t is the best

 If you want to place a back slash in your string, use a double back slash:

In [62]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

 We can also place an "r" before the string to display the backslash:

In [71]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [72]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [74]:
a = "Tiago it will be a future Data Science"
print("before upper:", a)
b = a.upper()
print("after uppfer:", b)

before upper: Tiago it will be a future Data Science
after uppfer: TIAGO IT WILL BE A FUTURE DATA SCIENCE

In [75]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [76]:
a = "Michael and Janet are the best"
b = a.replace ('Michael and Janet', 'Tiago and Jessica')
b

'Tiago and Jessica are the best'

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

In [77]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [79]:
name = "Tiago Vianez"
name.find('V')

6

In [80]:
name.find('Jack')

-1

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [81]:
name.find('Jasdfasdasdf')

-1

<hr>

<h2 id="quiz">Quiz on Strings</h2>

What is the value of the variable <code>a</code> after the following code is executed?

In [7]:
a = "1"
print(a)

1

What is the value of the variable <code>b</code> after the following code is executed?

In [8]:
b = "2"
print(b)

2

What is the value of the variable <code>c</code> after the following code is executed?

In [9]:
a = 5
b = 6
c = a + b
print (a+b)

11

<hr>

Consider the variable <code>d</code> use slicing to print out the first three elements:

In [11]:
d = "ABCDEFG"
print(d[:3])

ABC

<hr>

Use a stride value of 2 to print out every second character of the string <code>e</code>:

In [10]:
e = 'clocrkr1e1c1t'
print(e[::2])

correct

<hr>

Convert the variable <code>f</code> to uppercase:

In [24]:
f = "You are wrong"
f.upper

<hr>

Consider the variable <code>g</code>, and find the first index of the sub-string <code>snow</code>:

In [26]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("snow")

95

In the variable <code>g</code>, replace the sub-string <code>Mary</code> with <code>Tiago</code>:

In [33]:
g = "Isaque is in the 5 semester of Accounting Sciences, but ended up starting a Bachelor of Science in Computer Science from UoPeople with a full scholarship"

g.replace ("Isaque","Tiago")

'Tiago is in the 5 semester of Accounting Sciences, but ended up starting a Bachelor of Science in Computer Science from UoPeople with a full scholarship'

In [92]:
name = 'Lizz'
print(name[0:2])

Li

In [94]:
A='1934567'
A[1::2]

'946'

In [96]:
print('1'+'2')

12

In [98]:
print('hello'.upper())

HELLO

In [100]:
Name="ABCDE" 
Name.find("B")

1

In [101]:
str(1+1)

'2'

In [104]:
"123".replace("12","ab")

'ab3'