<h2 id="set">Sets</h2>

<h3 id="content">Set Content</h3>

A set is a unique collection of objects in Python. You can denote a set with a curly bracket <b>{}</b>. Python will automatically remove duplicate items:

In [1]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

The process of mapping is illustrated in the figure:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnique.png" width="1100" />

 You can also  create a set from a list as follows:

In [4]:
album_list = ["Pink Floyd", "The Division Bell", 1994, "01:06:19", \
             "Progressive Rock", 49.0, 75, "28-Mar-94", None, 10.0]
album_set = set(album_list)
album_set

{'01:06:19',
 10.0,
 1994,
 '28-Mar-94',
 49.0,
 75,
 None,
 'Pink Floyd',
 'Progressive Rock',
 'The Division Bell'}

Now let us create a set of  genres:

In [5]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [6]:
music_genres = set (["hip hop", "progressive rock", "surfing music", "yoga music", "house", \
                    "forro", "samba", "capoeira music"])
music_genres

{'capoeira music',
 'forro',
 'hip hop',
 'house',
 'progressive rock',
 'samba',
 'surfing music',
 'yoga music'}

<h3 id="op">Set Operations</h3>

Let us go over set operations, as these can be used to change the set. Consider the set <b>A</b>:

In [7]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [8]:
B = set (["The Dark Side of the Moon", "Marines e sua Gente", "Vai dar em Samba", "Poetas no topo"])
B

{'Marines e sua Gente',
 'Poetas no topo',
 'The Dark Side of the Moon',
 'Vai dar em Samba'}

 We can add an element to a set using the <code>add()</code> method:

In [9]:
B = set (["The Dark Side of the Moon", "Marines e sua Gente", "Vai dar em Samba", "Poetas no topo"])
B.add("NSYNC")
B

{'Marines e sua Gente',
 'NSYNC',
 'Poetas no topo',
 'The Dark Side of the Moon',
 'Vai dar em Samba'}

 If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [11]:
B = set (["The Dark Side of the Moon", "Marines e sua Gente", "Vai dar em Samba", "Poetas no topo", "NSYNC"])
B.add("NSYNC")
B

{'Marines e sua Gente',
 'NSYNC',
 'Poetas no topo',
 'The Dark Side of the Moon',
 'Vai dar em Samba'}

 We can remove an item from a set using the <code>remove</code> method:

In [12]:
# Remove the element from set
B = set (["The Dark Side of the Moon", "Marines e sua Gente", "Vai dar em Samba", "Poetas no topo", "NSYNC"])
B.remove("NSYNC")
B

{'Marines e sua Gente',
 'Poetas no topo',
 'The Dark Side of the Moon',
 'Vai dar em Samba'}

 We can verify if an element is in the set using the <code>in</code> command:

In [13]:
"AC/DC" in A

True

<h3 id="logic">Sets Logic Operations</h3>

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

 Consider the following two sets:

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="650" />

In [21]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set2, album_set1

({'AC/DC', 'Back in Black', 'The Dark Side of the Moon'},
 {'AC/DC', 'Back in Black', 'Thriller'})

As both sets contain <b>AC/DC</b> and <b>Back in Black</b> we represent these common elements with the intersection of two circles.

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLogic.png" width = "650" />

You can find the intersect of two sets as follow using <code>&</code>:

In [27]:
album_set1 = set(["Thriller", 'AC/DC', 'Led Zeppelin IV', 'Back in Black', 'Jota Quest'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon", "Led Zeppelin IV"])
intersection = album_set2 & album_set1
intersection

{'AC/DC', 'Back in Black', 'Led Zeppelin IV'}

You can find all the elements that are only contained in <code>album_set1</code> using the <code>difference</code> method:

In [29]:
album_set1 = set(["Thriller", 'AC/DC', 'Led Zeppelin IV', 'Back in Black', 'Jota Quest'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon", "Led Zeppelin IV"])
album_set1.difference(album_set2)

{'Jota Quest', 'Thriller'}

You only need to consider elements in <code>album_set1</code>; all the elements in <code>album_set2</code>, including the intersection, are not included.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="650" />

The elements in <code>album_set2</code> but not in <code>album_set1</code> is given by:

In [30]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsRight.png" width="650" />

You can also find the intersection of <code>album_list1</code> and <code>album_list2</code>, using the <code>intersection</code> method:

In [32]:
# Use intersection method to find the intersection of album_list1 and album_list2
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black', 'Jota Quest'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

 This corresponds to the intersection of the two circles:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsIntersect.png" width="650" />

The union corresponds to all the elements in both sets, which is represented by coloring both circles:

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnion.png" width="650" />

 The union is given by:

In [37]:
album_set1 = set(["Thriller", 'AC/DC', 'Led Zeppelin IV', 'Back in Black', 'Jota Quest'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon", "Led Zeppelin IV"])
album_set1.union(album_set2)

{'AC/DC',
 'Back in Black',
 'Jota Quest',
 'Led Zeppelin IV',
 'The Dark Side of the Moon',
 'Thriller'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [39]:
album_set1 = set(["Thriller", 'AC/DC', 'Led Zeppelin IV', 'Back in Black', 'Jota Quest'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon", "Led Zeppelin IV"])
set(album_set1).issuperset(album_set2)

False

In [40]:
album_set1 = set(["Thriller", 'AC/DC', 'Led Zeppelin IV', 'Back in Black', 'Jota Quest'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon", "Led Zeppelin IV"])
set(album_set2).issubset(album_set1)

False

Here is an example where <code>issubset()</code> and <code>issuperset()</code> return true:

In [42]:
album_set1 = set(["Thriller", 'AC/DC', 'Led Zeppelin IV', 'Back in Black', 'Jota Quest'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon", "Led Zeppelin IV"])
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [43]:
album_set1 = set(["Thriller", 'AC/DC', 'Led Zeppelin IV', 'Back in Black', 'Jota Quest'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon", "Led Zeppelin IV"])

album_set1.issuperset({"Back in Black", "AC/DC"})

True

<hr>

<h2 id="quiz">Quiz on Sets</h2>

Convert the list <code>['rap','house','electronic music', 'rap']</code> to a set:

In [50]:
album_list = ['rap','house','electronic music', 'rap']
album_set = set(album_list)
album_set

{'electronic music', 'house', 'rap'}

<hr>

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) = sum(B)</code>

In [61]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print("the sum of A is:", sum (A))
print("the sum of B is:", sum (B))

the sum of A is: 6
the sum of B is: 3

<hr>

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [63]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

<hr>

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

<details><summary>Click here for the solution</summary>

```python
album_set1.issubset(album_set3)

```

</details>